*{
  padding: 0;
  margin:0;
  box-sizing: border-box;
}

.clearfix::after{
 content: '' ;
 display: table;
 clear: both;
}
$primary_color: red;
$secodary_color: green;
$primary_weigth: 600;
h2{
  color: $primary_color;
}
h3{
  color: $secodary_color;
}

p{
  font-weight: $primary_weigth;
}
